<h1>新增候選人</h1>

<%= form_for @candidate do |f| %>
  <div>
    <%= f.label :name, '姓名' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :party, '黨派' %>
    <%= f.text_field :party %>
  </div>

  <div>
    <%= f.label :age, '年紀' %>
    <%= f.text_field :age %>
  </div>

  <div>
    <%= f.label :age, '年紀' %>
    <%= f.text_field :age %>
  </div>

  <div>
    <%= f.label :politics, '政見' %>
    <%= f.text_area :politics %>
  </div>

  <%= f.submit '新增' %>
<% end %>

<br/>
<%= link_to '回候選人列表', root_path %>